.navbar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.navbar .listItem {
    position: relative;
    padding: 10px;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.navbar .listItem .active .underline, .navbar .listItem:hover .underline {
    transform: scaleX(1) !important;
}

.mantine-Title-root {
    text-align: center;
}

.bg-opacity-25 {
    opacity: .25;
}

.bg-opacity-50 {
    opacity: .5;
}

.bg-opacity-75 {
    opacity: .75;
}

.flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

b {
    text-shadow:
    -.2px -.2px 0 #000,
    .2px -.2px 0 #000,
    -.2px .2px 0 #000,
    .2px .2px 0 #000
}
